<configuration debug="false"> 

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.zaxxer.hikari" level="WARN" />

	<logger name="org.flywaydb.core" level="INFO" />
	<logger name="org.flywaydb.core.internal.database" level="INFO" />

	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.ai.chat.client.advisor.SimpleLoggerAdvisor" level="DEBUG" />
	<logger name="org.springframework.ai.mcp" level="TRACE" />
	<logger name="io.modelcontextprotocol.client.transport" level="TRACE" />

	<logger name="org.thymeleaf" level="INFO" />

	<logger name="com.jayway.jsonpath" level="INFO" />

	<logger name="com.hcd.telecomassistant.advisor.TokenUsageAdvisor" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
